
.menu-icon {
    display: none;
}

.nav-links-mobile{
    display: none;
}

.linkActive {
    background: #6C5ECE;
}


@media screen and (max-width: 960px) {
    .linkActive {
        background: #6C5ECE;
    }
    
    header {
        position: relative;
        padding: 20px 70px;
        height: 100px;
    }


    .menu-icon{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .nav-area {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 600px;
        position: absolute;
        top: 70px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-area.active {
        background-color: rgba(208, 216, 205, 1);
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-area .nav-links {
        text-align: left;
        padding: 2em;
        width: 100%;
        display: table;
       
    }

    .nav-links-mobile {
        display: table;
        cursor: pointer;
        text-transform: uppercase;
        width: 80%;
        padding: 2em;
    }

    .btn-area {
        display: none;
    }

}